{% extends 'base.html' %}


{% block content %}


<br>
<h1>Update/Delete</h1>

{% if form.errors %}
<p>{{ form.non_field_errors }}</p> 
<!-- can't get this to work  
https://stackoverflow.com/questions/22470637/django-show-validationerror-in-template -->

{% endif %}
    
<form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" id="form.username" name="email_address" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">Please enter the email you used when registering</small>
    </div>
    <div class="form-row">
        <div class="form-group col-1">
            <input type="submit" class="btn btn-primary" name="action" value="Update">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
        <div class="form-group col-1">
            <input type="submit" class="btn btn-primary" name="action" value="Delete">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </div>
  </form>
<br>
 <small class="form-text text-muted">To change email address, please delete current entry and resubmit a new one.</small>


{% endblock %}

<!-- have an update and a delete buttons -->